@import './colors.scss';
@import './animations.scss';

// CSS Reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --spacing-unit: 8px;
  --color-dark-blue: #{$color-dark-blue};
  --color-light-blue: #{$color-light-blue};
  --color-primary: #{$palette-primary};
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-accent: #{$palette-accent-dark};
    --color-background: #{$palette-background-dark};
    --color-text: #{$palette-text-dark};
    --color-link: #{$palette-link-dark};
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-accent: #{$palette-accent-light};
    --color-background: #{$palette-background-light};
    --color-text: #{$palette-text-light};
    --color-link: #{$palette-link-light};
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Sen', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

a,
a:visited,
a:active {
  color: var(--color-link);
  text-decoration: none;
}
