$color-black: #0b132b;
$color-dark-blue: #274060;
$color-blue: #335c81;
$color-light-blue: #a8c0f5;
$color-white: #fcfcfc;
$color-red: #f7567c;
$color-orange: #dd5f56;

$palette-primary: $color-blue;
$palette-primary-dark: $color-dark-blue;
$palette-primary-light: $color-light-blue;
$palette-accent: $color-red;
$palette-background: $color-white;
$palette-text: $color-black;
$palette-link: $color-red;
