.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 calc(var(--spacing-unit) * 4);
  margin-bottom: calc(var(--spacing-unit) * 12);

  @media (min-width: 720px) {
    padding: 0;
  }
}
