@import '../styles/animations.scss';

.Hero {
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 calc(var(--spacing-unit) * 3);
  align-items: center;
  justify-content: center;

  &__wave {
    user-select: none;
    display: inline-block;
    animation: fadeIn 0.5s ease, wave 0.8s ease 0.5s;
  }

  &__title,
  &__subtitle {
    width: 100%;
    max-width: 600px;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 800;
    margin-top: calc(var(--spacing-unit) * 8);
    margin-bottom: calc(var(--spacing-unit) * 2);

    &--text {
      display: inline-block;
      animation: fadeInTitle 1s ease;
    }
  }

  &__subtitle {
    animation: fadeInAfterTitle 1.5s ease;
    margin-bottom: calc(var(--spacing-unit) * 4);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.61;

    @media (min-width: 720px) {
      font-size: 1.5rem;
    }
  }

  &__name,
  &__job-title,
  &__company,
  &__description {
    font-weight: 700;
  }

  &__name {
    color: var(--color-accent);
  }

  &__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    animation: fadeInAfterTitle 1.5s ease;
  }

  &__link {
    margin: 0;
    padding: 0;
    display: inline;

    &:not(:first-child) {
      margin-left: calc(var(--spacing-unit) * 4);
    }
  }

  &__link-icon {
    font-size: 1.6rem;
    transition: 0.2s ease;

    &:hover {
      transform: translateY(-2px);
    }
  }
}
